.st-splitter-vertical {
  display: flex;
  flex-direction: row;

  > hr {
    border: 3px solid #ccc;
    margin: 0;
    cursor: w-resize;
  }
  > :not(hr) {
    overflow: hidden;
  }

  > :not(hr):not(:last-child) {
    flex: 0 0 auto;
  }
  > :not(hr):last-child {
    flex: 1 1 auto;
  }
}
.st-splitter-vertical--fixed {
  > :not(hr):not(:last-child) {
    flex: 0 11 auto;
  }
}

.st-splitter-horizontal {
  display: flex;
  flex-direction: column;

  > hr {
    border: 3px solid #ccc;
    margin: 0;
    width: 100%;
    cursor: n-resize;
  }
  > :not(hr) {
    overflow: hidden;
  }
}
.st-splitter-horizontal--fixed {
  height: 100%;

  > :not(hr):last-child {
    height: 100%;
  }
}

.st-splitter-table {
  th {
    position: relative;

    > hr {
      position: absolute;
      top: 0;
      left: -3px;
      border: 0;
      margin: 0;
      width: 6px;
      height: 100%;
      cursor: w-resize;
    }
  }
}
